.featured-posts__wrapper {
  margin-top: 
}

.views-view-grid .views-row.featured-grid-row {
  margin-left: -15px;
  margin-right: -15px;
  float: initial;
  width: initial
}

.featured-grid-column {
  padding: 0 15px;
  box-sizing: border-box;
}

.post__image--featured {
  height: auto;
  width: 100%;
}

.post__date, .post__tags-label {
  color: #626a6e;
}

.post__title {
  font-weight: 700
}

