<div class="govuk-header__logo">
  <a href="/" class="govuk-header__link govuk-header__link--homepage" title="Home">
    <span class="govuk-header__logotype">
      <span class="govuk-header__logotype-text">
        {{ site_name }}
      </span>
      {% if site_slogan %}
        <span class="govuk-header__product-name">{{ site_slogan }}</span>
      {% endif %}
    </span>
  </a>
</div>
    
